[submodule "frontend"]
	path = frontend
	url = https://github.com/gh286991/praxis-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/gh286991/praxis-backend.git
[submodule "admin"]
	path = admin
	url = https://github.com/gh286991/praxis-admin.git
